.formHouse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.labelHouse {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.selectHome {
    border: 4px solid;
    border-color: #d78f37;
    height: 32px;
    width: 250px;
    font-size: 20px;
    background-color: grey;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

