.formName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.labelName {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.inputName {
    border: 4px solid;
    border-color: #d78f37;
    height: 22px;
    width: 250px;
    font-size: 20px;
    background-color: grey;
}

::placeholder {
    opacity: 0.6;
    color: white;
    font-weight: bold;
}

.divSearch{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}