.footer {
    border-top: 4px solid white;
    padding: 20px;
    width: auto;
    text-align: left;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-brands, .fa-github {
    font-size: 30px;
    color: white;
}

.fa-brands:hover {
    color: black;
}
