@import '../styles/layout/Footer.scss';
@import '../styles/layout/CharacterCard.scss';
@import '../styles/layout/CharacterDetail.scss';
@import '../styles/layout/FilterByHouse.scss';
@import '../styles/layout/FilterByName.scss';


* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: grey;
    opacity: 0.9;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phraseHermione {
    font-size: 22px;
    font-style: italic;
}

.headerImage {
    width: 400px;
    height: 150px;
}

.listWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.characterNotFound {
    font-size: 38px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

